@use './walking.css';
@use './idle.css';
@use './attack.css';
@use './running.css';

#rogue {
    background-color: darkgreen;
    background-image: url('../sprites/rogue.png');

    &.display:hover {
        animation-name: RogueWalking;
    }

    &.idle {
        animation-name: RogueIdle;
    }

    &.walking {
        animation-name: RogueWalking;
    }

    &.running {
        animation-name: RogueRunning;
    }

    &.attacking {
        animation-name: RogueAttack;
    }
}