@use './walking.css';
@use './idle.css';
@use './attack.css';
@use './running.css';

#knight {
    background-color: rgb(128, 128, 0);
    background-image: url('../sprites/knight.png');

    &.display:hover {
        animation-name: KnightWalking;
    }

    &.idle {
        animation-duration: 3s !important;
        animation-name: KnightIdle;
    }

    &.walking {
        animation-name: KnightWalking;
    }

    &.running {
        animation-name: KnightRunning;
    }

    &.attacking {
        animation-name: KnightAttack;
    }
}