@use './walking.css';
@use './idle.css';
@use './attack.css';
@use './running.css';

#mage {
    background-color: rgb(128, 32, 0);
    background-image: url('../sprites/mage.png');

    &.display:hover {
        animation-name: MageWalking;
    }

    &.idle {
        animation-name: MageIdle;
    }

    &.walking {
        animation-name: MageWalking;
    }

    &.running {
        animation-name: MageRunning;
    }

    &.attacking {
        animation-name: MageAttack;
    }
}